* {
  font-family: 'Open Sans', sans-serif;
}

#demo,
.box {
  border: 1px solid lightgray;
  border-radius: 0.5em;
}

#demo {
  clear: all;
  position: absolute;
  left: 0.5em;
  right: 0.5em;
  height: 60%;
  background-size: cover;
  background-repeat: no-repeat;
}

.box {
  cursor: pointer;
  display: inline-block;
  margin: 0.1em;
  width: 5em;
  height: 5em;
}

.windfall {
  background:
    radial-gradient(circle at 30% 30%, rgba(255, 0, 255, 0.6), transparent 70%),
    radial-gradient(circle at 80% 60%, rgba(0, 255, 255, 0.6), transparent 60%),
    radial-gradient(circle at 10% 80%, rgba(0, 0, 255, 0.6), transparent 50%),
    #3a2d5d;
}

.party {
  background:
    radial-gradient(circle at top left,
      rgba(255, 255, 255, 0.5),
      transparent 50%),
    radial-gradient(circle at top right,
      rgba(255, 255, 255, 0.5),
      transparent 60%),
    radial-gradient(at bottom left,
      rgba(255, 0, 255, 0.5),
      transparent 80%),
    radial-gradient(at bottom right,
      rgba(255, 100, 100, 0.5),
      transparent 30%),
    teal;
}

.spotlights {
  background: radial-gradient(circle at 20% 40%, #fbc2eb 0%, transparent 50%),
    radial-gradient(circle at 80% 60%, #a6c1ee 0%, transparent 50%),
    #000428;
}

.showdown {
  background: radial-gradient(circle at 20% 20%, #007991 0%, transparent 70%),
    radial-gradient(circle at 90% 10%, #20a967 0%, transparent 70%),
    radial-gradient(circle at 90% 90%, #78a1ff 0%, transparent 60%),
    radial-gradient(circle at 40% 80%, #78ffd6 0%, transparent 80%),
    #000428;
}

.dusky {
  background: radial-gradient(circle at 10% 30%, #004e92 0%, transparent 50%),
    radial-gradient(circle at 80% 0%, #000428 0%, transparent 50%),
    radial-gradient(circle at 60% 80%, #fbc2eb 0%, transparent 80%),
    #000428;
}

.jupiter {
  background: linear-gradient(to bottom, #ffd89b, #19547b);
}

.juice {
  background: linear-gradient(to right, #7B4397, #DC2430);
}

.minty {
  background: linear-gradient(40deg, #00C9FF, #92FE9D);
}

.lavender {
  background: radial-gradient(circle, #fbc2eb, #a6c1ee);
}

.corporate {
  background: radial-gradient(circle, #004e92, #000428);
}

.peach {
  background: linear-gradient(to right, #f12711, #f5af19);
}

.yummy {
  background: linear-gradient(23deg, rgb(3, 0, 30), rgb(115, 3, 192), rgb(236, 56, 188), rgb(253, 239, 249));
}
